body{
	margin: 0;
}

#header{
	position: relative;
	height: 50px;
	background-color: #66c2ff;
	
}

#headContainer{
	width: 240px;
	height: 50px;
	float: right;
	margin-top: 5px;

}

#username{
	font-size: 20px;
	margin: 0;
}


#logoutButton{
	
	top: 6px;
	right: 5px;
	cursor: pointer;
	font-size: 20px;
	
	background-color: #ff1a1a;
	border:none;
	border-radius: 2px;
	padding: 5px;
	width: 110px;
	margin: 0;
	margin-left: 5px;
}

#logoutButton:hover{
	background-color: #e60000;
}

.head{
	display: inline-block;
	
}

.imageContainer{
	background-color: #e5fbff;
	width: 120px;
	height: 120px;
	margin: 3px;

	border-radius: 2px;
	/**
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	**/
}
.imageContainer img{
	width: 0px;
	height: 0px;
}
#boardContainer{
	margin-left: 250px;
	margin-top: 5px;
	width: 525px;
	margin-right: 0px;

}

#startButton{
	cursor: pointer;
	font-size: 20px;
	border : none;
	padding: 10px;
	background-color: #1a53ff;
	border-radius: 6px;
	width: 210px;
	color: white;
	/*
	margin-left: 25px;
	*/
}


#startButton:hover{
	background-color: #002db3;
}

#scoreBoard{
	width: 550px;
	background-color: black;	
}


#listOfBestScore{
	padding-left:  15px;
	margin-top: 3px;
}

#scoreBoardHead{
	
	
	background-color: #e3f5f9;
	width: 490px;
	height: 50px;
	border-radius: 5px;
	border:1px solid #c8c8c8;	
	margin-left: 255px;
}

#scoreBoardContainer{

	position: absolute;
	right: 350px;
	top: 5px;
	padding: 10px;
	background-color: #e3f5f9;
	width: 200px;
	border-radius: 5px;
	border:1px solid #c8c8c8;
	height: 200px;
	
}

#midDiv{
	position: relative;
}

.inLine{
	display: inline-block;

	margin-left: 83px;
}

#time{
	font-size: 30px;
	margin-top: 5px;
	
}